@inherits LayoutComponentBase

<div class="layout">

	<aside class="sidebar">
		<NavMenu />"
	</aside>

	<main class="main-content">

		<header class="topbar">
			<TopBar />
		</header>

		<section class="workspace">
			@Body
		</section>

	</main>

</div>