<div class="nav-menu">

	<NavLink class="nav-item"
			href="/" Match="NavLinkMatch.All">
		Strona główna
	</NavLink>

	<NavLink class="nav-item"
			href="/narzedzia">
		Narzedzia
	</NavLink>

	<NavLink class="nav-item"
			href="/meble">
		Meble
	</NavLink>

</div>
