<nav class="nav-menu">

	<NavLink href="/" Match="NavLinkMatch.All">
		Strona główna
	</NavLink>

	<NavLink href="/narzedzia">
		Narzedzia
	</NavLink>

	<NavLink href="/meble">
		Meble
	</NavLink>

</nav>